:root{
    --color-primary: #ac6243;
    --color-secondary: #aa8225;
    --color-light: #f2c3bb;
    --color-dark: #0c2b22;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
    font-weight: 500;
    line-height: 1.4;
    color: var(--color-light);
    margin: 0;
}
